<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
.ody {

    font-family: "Quicksand", sans-serif;

}
</style>
{% load static%}
<html>
<br><br>
 <div class="container ody text-center">
<h1><center>Battle Soccer</center></h1>
<br>
{% block content %}
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
	  <div class="form-group">
      {{ form.as_p }}</div>
      <button class="btn btn-dark" type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}
</div>