<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
.ody {

    font-family: "Quicksand", sans-serif;

}
</style>
{% load static%}
<html>
<br><br>
 <div class="container ody text-center">
<h1><center>Battle Soccer</center></h1>
<br>

<h3>Password reset complete</h3>

<p>Your password has been set. You may go ahead and log in now.</p>

<a href="{% url 'login' %}">Log in</a>