{% load crispy_forms_tags %}
{% load static%}
{% load socialaccount %}

<style>
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
.ody {

    font-family: "Quicksand", sans-serif;

}

.fo{
  font-size:60px;
    text-align: center;

}
@media only screen and (max-width:600px) {
.fo{
  font-size:40px;
  text-align: center;
  }
}
.card__image {
  flex-basis: 400px;
  min-width: 0;
  min-height: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}
.main-raised1 {
  display:block;
    border-radius: 8px;
-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);}

.si{
  width:40px;
  margin-bottom:20px;
}
</style>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div class="container ody mt-3">
<h2 class="fo"><a href="/" style="color: inherit; text-decoration: none;"><img src="{{MEDIA_URL}}load.svg"  class="si"/>Battle Soccer<br></a></h2>
   {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show">
            <strong>Success!</strong> {{message}}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endfor %}
 {% endif %}
<div class="row">
  <div class="col-sm-12 col-xs-12 col-md-12 col-lg-6">
    <div class="shadow p-3 mb-5 bg-white rounded">
  <br>
  <h3 class="text-center">Log in to your team!!</h3>
<img src="https://image.freepik.com/free-vector/football-goalkeeper-take-action-saving-ball-from-goal-flat-illustration_26350-94.jpg" alt="cool" class="card__image" style="width:100%">
  </div></div>
  <div class="col-sm-12 col-xs-12  col-md-12 col-lg-6" >
    <form method="POST">
<div class="form-group">
         {% csrf_token %}
        <div class="form-group">
    <label for="username">Team_Id</label>
    <input type="text" class="form-control" name="username"  id="username">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" name="password" class="form-control" placeholder="Enter password" id="pwd">
  </div>
</div>

        <br>
<button type="submit" class="btn btn-dark btn-lg btn-block">Login</button><br><br>
<a href="{% url "password_reset_recover" %}">Forgot password? / Reset password</a>

    </form>
<p class="mt-2">Or Need a Team account? <hr><a href="{% url 'register' %}" style="text-decoration:none;" ><center class="btn btn-primary btn-lg btn-block">Create an Team</center></a></p> 
<p class="mt-2">Or Sign Up as a guest? <hr><a href="{% provider_login_url 'google' %}" style="text-decoration:none;" ><center class="btn btn-outline-danger btn-lg btn-block">
            <img width="20px" style="margin-top:0px; margin-right:8px" alt="Google sign-in" 
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
        Login with Google</center>
    </a>
<br><br>
</div>
</div>
</body>